body {
  background-color: #ECEFF1;
  margin: 0;
}

/* contenedor principal */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

/* caja de la lista */
#app {
  min-width: 25rem;
  width: 50%;
  max-width: 60rem;
}
#app .MuiCardHeader-title {
  font-size: 1em;
  font-weight: 400;
}

/**
 * Todo list
 */
#todolist {
  width: 100%;
}

/* item */
#todolist li {
  padding: 0.3em 0.5em 0.3em 1.2em;
  border-radius: 2em;
}
#todolist li.completada .MuiTypography-root {
  text-decoration: line-through;
}
#todolist li:hover,
#todolist li.active  {
  background-color: #FAFAFA;
}
#todolist li.active  {
  background-color: #FAFAFA;
  outline: 2px solid #EEE;
  z-index: 1;
}
#todolist li.agregando #input {
  color: #777;
}
#todolist li.agregando  {
  background: #EEE;
  border-color: #DDD;
}

/* item > texto */
#todolist li .texto {
  outline: none;
}
#todolist li .texto span {
  color: #333;
  letter-spacing: 0.00938em;
}

/* item > boton eliminar */
#todolist li .btn-delete {
  display: none;
}
#todolist li:hover .btn-delete {
  display: block;
}

/* item icono de nueva tarea */
#todolist li .plus-icon {
  transform: translateX(-2px);
}

/* input de nueva tarea */
#input {
  font-size: 1rem;
  width: calc(100% - 0.5em);
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  height: 34px;
  color: #333;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}
#input:active, #input:hover, #input:focus-visible {
  outline: none;
}
/* iconos */
#todolist .MuiListItemIcon-root {
  min-width: 36px;
}

/* hint */
#hint {
  font-size: 0.9em;
  letter-spacing: -0.03em;
  color: #AAA;
  text-align: left;
  width: calc(100% - 3em);
  padding: 0.5em 1em 1.5em 2.6em;
  height: 1rem;
}
